@import "../../node_modules/materialize-css/sass/materialize";
@import "colors";
@import "mixinsAndAnimations";

body {

  display: grid;
  grid-template-rows: 45px 1fr 60px;
  grid-template-areas: "containers" "content" "below";
  width: 100vw;
  height: 100vh;

  .settingsContainer {
    grid-area: containers;
  }

  .content {
    grid-area: content;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
      width: 90%;
    }

  }

  .belowContainers {
    grid-area: below;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @extend .orange, .darken-3;

    #closeButton {
      margin-right: 1em;
      margin-left: 1em;
    }

    #saveButton {
      margin-right: 2em;
    }
  }

}

